<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tutorial.cokeby190"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Splash_class"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Android_TutorialActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.android.tutorial.cokeby190.ANDROID_TUTORIALACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_class"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.android.tutorial.cokeby190.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextPlay"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TextPlay_2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Email_class"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Camera_class"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name=".Data"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OpenedClass"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Graphics"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Graphics_surface"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SoundStuff"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Slider"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Tabs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SimpleBrowser"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>